<!DOCTYPE html>
<html>
  <head>
    <title>GOLFwith</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=devise-width, initial-scale=0.5">
  </head>

  <body>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
      <% end %>
      <script>
      $(function(){
        if($(".alert").length){
                $(".alert").fadeOut(5000);
              }
            });
      </script>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright">(C) 2018 GOLFwith.</p>
          </div>
    </footer>
  </body>
</html>
